*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    position:Absolute;
    top:10%;
    left:25%;
    width:40%;
    height:84%;
    background-color:black;
   
    border-radius:1.5em;
}
.Atm
{
    Position:absolute;
    position:Absolute;
    top:0.9%;
    left:1%;
    width:98%;
    height:98%;
    opacity:none;
    border-radius:1.5em;
}
.blackpanel
{
    position:absolute;
    width:247px;
    height:12.6em;
    background-color:#E0FFFF;
    left:32%;
    top:38.5%;
    opacity:0.8;
  
}
.activepanel
{
    position:Absolute;
    width:15.5em;
    height:12.6em;
    background-color:black;
    right:10%;
    top:11%;
}
.Offbutton
{
    position:absolute;
    width:4em;
    height:4em;
    top:38%;
    left:35%;
}
.ActiveButon
{
    position:absolute;
    width:4em;
    height:4em;
    top:38%;
    left:35%;
}
.Walcome-text
{
    position:absolute;
    color:#90EE90;
    top:40%;
    left:0.5%;
    font-family:monospace;
    text-align:center;
    background-color:black;
    opacity:0.6;
    font-size:16px;
    border-radius:0.1em;
    
}
.Walcome
{
    position:absolute;
    width:15.5em;
    height:12.6em;
    background-color:#87CEEB;
   
    opacity:0.8;
}
.kartnumarasi
{
    position:absolute;
    bottom:19%;
    left:35%;
    width:20em;
    height:1.9em;
    border-radius:0.5em;
    background-color:#90EE90;
}
.sifre
{
    position:absolute;
    bottom:14%;
    left:35%;
    width:20em;
    height:1.9em;
    border-radius:0.5em;
    background-color:#90EE90;
}
.girisbuton
{
    position:absolute;
    bottom:9%;
    left:43.5%;
    width:10em;
    height:1.7em;
    border-radius:0.5em;
    text-align:center;
    background-color:#90EE90;
    
}
.girisbuton:hover
{
    position:absolute;
    bottom:9%;
    left:43.5%;
    width:10em;
    height:1.8em;
    border-radius:0.5em;
    text-align:center;
    color:white;
}
.Kartno
{
    position:absolute;
    top:77.9%;
    left:27%;
    font-family:monospace;
    color:#90EE90;
    font-weight:bolder;
    font-size:1.2em;
}
.Pass
{
    position:absolute;
    top:83%;
    left:31.3%;
    font-family:monospace;
    color:#90EE90;
    font-weight:bolder;
    font-size:1.2em;
}
.bakiyebtn
{
    position:absolute;
    top:49%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#87CEEB;
    color:darkgreen;
    opacity:0.9;
    
}
.bakiyebtn:hover
{
    position:absolute;
    top:49%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#00FF7F;
    color:white;
    opacity:0.9;
    
}
.borcbtn
{
    position:absolute;
    top:61.5%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#87CEEB;
    color:darkgreen;
    opacity:0.9;
}
.borcbtn:hover
{
    position:absolute;
    top:61.5%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#00FF7F;
    color:white;
    opacity:0.9;
}
.asgaritutarbtn
{
    position:absolute;
    top:49%;
    right:1.5%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#87CEEB;
    color:darkgreen;
    opacity:0.9;
}
.asgaritutarbtn:hover
{
    position:absolute;
    top:49%;
    right:1.5%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#00FF7F;
    color:white;
    opacity:0.9;
}
.nakitavansbtn
{
    position:absolute;
    top:61.5%;
    right:1.5%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#87CEEB;
    color:darkgreen;
    opacity:0.9;
}
.nakitavansbtn:hover
{
    position:absolute;
    top:61.5%;
    right:1.5%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#00FF7F;
    color:white;
    opacity:0.9;
}
.Bakiyesorgulabtn
{
    position:absolute;
    top:75%;
    right:1.5%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#87CEEB;
    color:darkgreen;
    opacity:0.9;
}
.Bakiyesorgulabtn:hover
{
    position:absolute;
    top:75%;
    right:1.5%;
    height:1.8em;
    width:8em;
    border-radius:1px;
    background-color:#00FF7F;
    color:white;
    opacity:0.9;
}
.Geri
{
    position:absolute;
    top:155%;
    left:29%;
    width:5em;
    height:3em;
    background-color:rgba(7, 80, 35, 0.795);
    color:white;
    text-align:center;
    font-size:1em;
}
.information
{
    position:absolute;
    top:140%;
    font-size:1em;
    left:1em;
    color:darkgreen;
    font-weight: bolder;
    border:4px solid rgba(7, 80, 35, 0.795);
}
.isimsoyisim
{
    position:absolute;
    color:black;
    top:0.2em;
    left:0.3em;
}