*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    position:Absolute;
    top:10%;
    left:25%;
    width:40%;
    height:84%;
    background-color:black;
    opacity:0.9;
    border-radius:1.5em;
}
.Atm
{
    Position:absolute;
    position:Absolute;
    top:0.9%;
    left:1%;
    width:98%;
    height:98%;
    opacity:none;
    border-radius:1.5em;
}
.blackpanel
{
    position:absolute;
    width:15.5em;
    height:12.6em;
    background-color:#E0FFFF;
    left:32%;
    top:38.5%;
    opacity:0.8;
}
.activepanel
{
    position:Absolute;
    width:15.5em;
    height:12.6em;
    background-color:black;
    right:10%;
    top:11%;
}
.Offbutton
{
    position:absolute;
    width:4em;
    height:4em;
    top:38%;
    left:35%;
}
.ActiveButon
{
    position:absolute;
    width:4em;
    height:4em;
    top:38%;
    left:35%;
}
.Walcome-text
{
    position:absolute;
    color:black;
    top:40%;
    left:1%;
    font-family:monospace;
    text-align:center;
    background-color:#E0FFFF;
    opacity:0.8;
    font-size:16px;
    border-radius:0.5em;
    
}
.Walcome
{
    position:absolute;
    width:15.5em;
    height:12.6em;
    background-color:#90EE90;
   
    opacity:0.8;
}
.kartnumarasi
{
    position:absolute;
    bottom:19%;
    left:35%;
    width:20em;
    height:1.9em;
    border-radius:0.5em;
    background-color:#90EE90;
}
.sifre
{
    position:absolute;
    bottom:14%;
    left:35%;
    width:20em;
    height:1.9em;
    border-radius:0.5em;
    background-color:#90EE90;
}
.girisbuton
{
    position:absolute;
    bottom:9%;
    left:43.5%;
    width:10em;
    height:1.7em;
    border-radius:0.5em;
    text-align:center;
    background-color:#90EE90;
    
}
.girisbuton:hover
{
    position:absolute;
    bottom:9%;
    left:43.5%;
    width:10em;
    height:1.8em;
    border-radius:0.5em;
    text-align:center;
    color:white;
}
.Kartno
{
    position:absolute;
    top:77.9%;
    left:27%;
    font-family:monospace;
    color:#90EE90;
    font-weight:bolder;
    font-size:1.2em;
}
.Pass
{
    position:absolute;
    top:83%;
    left:31.3%;
    font-family:monospace;
    color:#90EE90;
    font-weight:bolder;
    font-size:1.2em;
}